/.vs/UnitTesting-InternshipSummer2019/v15/.suo
/.vs/UnitTesting-InternshipSummer2019/v15/Server/sqlite3/db.lock
/.vs/UnitTesting-InternshipSummer2019/v15/Server/sqlite3/storage.ide
/.vs/UnitTesting-InternshipSummer2019/v15/Server/sqlite3/storage.ide-shm
/.vs/UnitTesting-InternshipSummer2019/v15/Server/sqlite3/storage.ide-wal
